<nav class="navbar navbar-light bg-light shadow-sm">
  <a class="navbar-brand" href="#">
    <img src="assets/healthcare.png" width="32" height="32" alt="HC"> Healthcare
  </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-4">Fichas Médicas</h3>
      <button data-toggle="modal" data-target="#agregar" class="btn btn-primary my-3 mr-2">Agregar Ficha</button>
      <button data-toggle="collapse" href="#filtros" class="btn btn-secondary my-3">Filtros</button>
    </div>
    <div class="col-12">
      <div class="collapse mb-3" id="filtros">
        <div class="card card-body">
          <div class="row">
            <div class="col-6">
              <label>Paciente</label>
              <div class="input-group mb-3">
                <ng-select [items]="pacientes" [(ngModel)]="filtros.paciente" bindLabel="cedula" bindValue="cedula"
                  style="width: 100%;">
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{item?.nombre}} {{item?.apellido}} / {{item?.cedula}}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-6">
              <label>Medico</label>
              <div class="input-group mb-3">
                <ng-select [items]="medicos" [(ngModel)]="filtros.medico" bindLabel="cedula" bindValue="cedula"
                  style="width: 100%;">
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    {{item?.nombre}} {{item?.apellido}} / {{item?.cedula}}
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-6">
              <label>Fecha de consulta</label>
              <div class="input-group mb-3">
                <input type="date" [(ngModel)]="filtros.fecha" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <label>Motivo</label>
              <div class="input-group mb-2">
                <input type="text" [(ngModel)]="filtros.motivo" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <label>Diagnostico</label>
              <div class="input-group mb-2">
                <input type="text" [(ngModel)]="filtros.diagnostico" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <label>Tratamiento</label>
              <div class="input-group mb-2">
                <input type="text" [(ngModel)]="filtros.tratamiento" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="float-right">
                <button (click)="filtrarResultados()" class="btn btn-primary mr-2">Filtrar</button>
                <button (click)="limpiar()" class="btn btn-secondary">Limpiar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center" scope="col">#</th>
            <th scope="col">CI Paciente</th>
            <th scope="col">Paciente</th>
            <th scope="col">Médico</th>
            <th scope="col">Fecha de consulta</th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of fichas; index as j;">
            <th class="text-center" scope="row">{{j+1}}</th>
            <td>{{i.paciente.cedula}}</td>
            <td>{{i.paciente.nombre}} {{i.paciente.apellido}}</td>
            <td>{{i.medico.nombre}} {{i.medico.apellido}}</td>
            <td>{{i.fecha | date:'dd/MM/yyyy'}}</td>
            <td class="text-center"><a (click)="verDetalles(i)" data-toggle="modal" data-target="#detalles"
                class="text-primary" title="Ver todos los detalles" style="cursor: pointer;"><i
                  class="fas fa-info-circle fa-lg"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="detalles" tabindex="-1" aria-labelledby="detallesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detallesLabel">Ficha de consulta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p><span>CI Paciente </span> {{detalle.paciente.cedula}}</p>
            <p><span>Paciente </span> {{detalle.paciente.nombre}} {{detalle.paciente.apellido}}</p>
            <p><span>Motivo Consulta </span> {{detalle.motivo}}</p>
            <p><span>Diagnostico Consulta </span> {{detalle.diagnostico}}</p>
            <p><span>Tratamiento </span> {{detalle.tratamiento}}</p>
            <p><span>Fecha de consulta </span> {{detalle.fecha | date:'dd/MM/yyyy'}}</p>
            <p><span>CI Médico </span> {{detalle.medico.cedula}}</p>
            <p><span>Médico </span> {{detalle.medico.nombre}} {{detalle.medico.apellido}}</p>
            <p><span>Especialidad Médico </span> {{detalle.medico.especialidad}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="agregarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarLabel">Agregar Ficha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Paciente <span>*</span></label>
            <div class="input-group mb-3">
              <ng-select [items]="pacientes" [(ngModel)]="nuevaFicha.paciente" bindLabel="cedula" style="width: 100%;">
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  {{item?.nombre}} {{item?.apellido}} / {{item?.cedula}}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-12">
            <label>Medico <span>*</span></label>
            <div class="input-group mb-3">
              <ng-select [items]="medicos" [(ngModel)]="nuevaFicha.medico" bindLabel="cedula" style="width: 100%;">
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  {{item?.nombre}} {{item?.apellido}} / {{item?.cedula}} <br>
                  <b>{{item?.especialidad}}</b>
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-12">
            <label>Fecha de consulta <span>*</span></label>
            <div class="input-group mb-3">
              <input type="date" [(ngModel)]="nuevaFicha.fecha" class="form-control">
            </div>
          </div>
          <div class="col-12">
            <label>Motivo <span>*</span></label>
            <div class="input-group mb-2">
              <textarea class="form-control" [(ngModel)]="nuevaFicha.motivo"></textarea>
            </div>
          </div>
          <div class="col-12">
            <label>Diagnostico <span>*</span></label>
            <div class="input-group mb-2">
              <textarea class="form-control" [(ngModel)]="nuevaFicha.diagnostico"></textarea>
            </div>
          </div>
          <div class="col-12">
            <label>Tratamiento <span>*</span></label>
            <div class="input-group mb-2">
              <textarea class="form-control" [(ngModel)]="nuevaFicha.tratamiento"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button (click)="guardarFicha()" type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>